@font-face {
    font-family: 'araboto';
    src: url(./Araboto\ Medium\ 400.ttf)
}

html, body {
    padding: 0;
    margin: 0;
    height: 100%;
}

:root {
    --green: #596D48;
    --grey-background: #f9fafb;
    --default-font-color: #000000;
    --form-border-color: #E5E7EB;
    --default-font-family: 'araboto';
}

.container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
}

.left {
    width: 45vw;
    background-image: url(./halie-west-25xggax4bSA-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.right {
    width: 55vw;
    height: 100vh;
    background-color: #fff;
}

.right-top {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 30%;
    background-color: var(--grey-background);
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-size: 2em;
    font-family: var(--default-font-family);
}

.form {
    height: 30vh;
}

label {
    font-family: var(--default-font-family);
}

legend {
    color: var(--default-font-color);
    font-size: 2em;
    font-family: var(--default-font-family);
}

input {
    border-color: var(--form-border-color);
    font-size: 1em;
    font-family: var(--default-font-family);
}

input:focus {
    outline: none;
    border-color: blue;
}

label {
    font-size: 1em;
}

.bottom {
    display: flex;
    flex-direction: column;
    background-color: var(--grey-background);
    height: 40vh;
}

.create-account {
    background-color: var(--green);
    color: #fff;
    border-radius: 8px;
    height: 4vh;
    width: 18vw;
    margin: 4%;
    font-family: var(--default-font-family);
    font-size: 1em;
    border: none;
}

.log-in {
    color: var(--green);
    font-family: var(--default-font-family);
}

.p {
    padding: 0px;
    margin: 0px;
    font-family: var(--default-font-family);
}

.log-contain {
    display: flex;
}