@font-face {
    font-family: 'norse-bold';
    src: url(./Norse-Bold.otf)
}

html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    overflow: hidden;
}

:root {
    --green: #596D48;
    --grey-background: #f9fafb;
    --default-font-color: #000000;
    --form-border-color: #E5E7EB;
    --default-font-family: 'norse-bold';
}

.container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
}

.left {
    width: 45vw;
    background-image: url(./halie-west-25xggax4bSA-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.right {
    width: 55vw;
    height: 100vh;
    background-color: #fff;
}

.right-top {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100vw;
    height: 30vh;
    background-color: var(--grey-background);
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-size: 1.5em;
    font-family: var(--default-font-family);
    margin-left: 3vw;
    margin-bottom: 0%;
    white-space: nowrap;
}

#i-text {
    display: inline;
}

#i-div {
    margin-bottom: 4vh;
    padding: 0%;
}

.i-text {
    display: inline;
    margin-bottom: 3vh;
}

.form {
    height: 30vh;
}

label {
    font-family: var(--default-font-family);
}

legend {
    color: var(--default-font-color);
    font-size: 1.5em;
    font-family: var(--default-font-family);
    margin-left: 3vw;
    margin-top: 1vh;
    margin-bottom: 2vh;
}

form {
    display: flex;
    flex-direction: row;
}

.first-row {
    display: flex;
    flex-direction: column;
    margin-left: 3vw;
}

.second-row{
    display: flex;
    flex-direction: column;
    margin-left: 3vw;
}

input {
    border-color: var(--form-border-color);
    font-size: 1em;
    font-family: var(--default-font-family);
    border-radius: 4px;
    width: 18vw;
    height: 1.6vh;
    margin-bottom: 1vh;
}


input:focus {
    outline: none;
    border: 1px solid blue;
}

label {
    font-size: 1.2em;
}

.bottom {
    display: flex;
    flex-direction: column;
    background-color: var(--grey-background);
    height: 40vh;
}

.create-account {
    background-color: var(--green);
    color: #fff;
    border-radius: 8px;
    height: 3.5vh;
    width: 18vw;
    margin-left: 3vw;
    margin-top: 2vh;
    font-family: var(--default-font-family);
    font-size: 1em;
    border: none;
}

.log-in {
    color: var(--green);
    font-family: var(--default-font-family);
    margin-left: 1vw;
}

.p {
    padding: 0px;
    margin: 0px;
    font-family: var(--default-font-family);
}

.log-contain {
    display: flex;
    margin-left: 3vw;
    margin-top: 2vh;
}